supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
storage3==2.31.0
postgrest==2.31.0
realtime==2.31.0
httpx==0.28.1
pandas
yfinance
pandas_market_calendars
schedule==1.2.2
python-dotenv==1.2.2